[user]
  email = guptas199614@gmail.com
  name = Shailendra Gupta
  signingkey = FE83D98B

[core]
  editor = nano
  excludesFile = ~/.gitignore

[commit]
  gpgSign = true

[pull]
  rebase = true

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

[includeIf "gitdir:~/Desktop/workspace/"]
  path = ~/.gitconfig.work

[url "git@github.com:"]
  insteadOf = https://github.com/

[rerere]
  enabled = true
	autoUpdate = true

[branch]
	sort = -committerdate
